DATABASE_URL=your_database_url_here
SANRICE_ADMIN_KEY=your_admin_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
NEXT_PUBLIC_FACEBOOK_URL=your_facebook_url_here
NEXT_PUBLIC_PHONE=your_phone_number_here